/* style.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.content_container {
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center align the container */
    padding: 5px; /* Add some padding around the content */
    background-color: #FFDC9C;
    border-radius: 8px; /* Optional: adds rounded corners to the container */
}

.body_container {
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center align the container */
    padding: 5px; /* Add some padding around the content */
    background-color: #FEF2DC;
    border-radius: 8px; /* Optional: adds rounded corners to the container */
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.content_title {
    margin-bottom: 20px; /* Space between the title and text */
    color: #04AA6D;
    font-family: Arial, sans-serif; /* Font family, change as needed */
}

.content_text {
    color: black;
    font-family: Arial, sans-serif; /* Font family, change as needed */
    line-height: 1.6; /* Adjust line spacing for better readability */
}

.canvas-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pyramid_output {
    background-color: #FEF2DC;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically, if needed */
    gap: 5%; /* Add some space between the two canvases */
}

.pyramid_output canvas {
    max-width: 40%; /* Control the maximum width of each canvas */
    height: auto; /* Maintain the aspect ratio */
}

#speciesDetailsContainer {
    margin-top: 15px;
}

#speciesDetailsContainer input {
    width: 20%; /* Adjust the width as needed */    
    margin: center; /* Center align the container */
    padding: 5px; /* Add some padding around the content */
    background-color: white;
    border-radius: 8px; /* Optional: adds rounded corners to the container */
}

.input-small {
    width: 130px; /* Adjust width as needed */
    height: 17px; /* Adjust height as needed */
    padding: 3px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    border-radius: 10px;
}

.button1:hover {
    background-color: #04AA6D;
    color: white;
}

.funnel-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    border-radius: 8px;
}

.funnel-title {
    text-align: center;
    margin-bottom: 10px;
}

.funnel-chart-container {
    background-color: #FEF2DC;
    display: flex; /* Use Flexbox */
    flex-direction: column;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically, if needed */
    gap: 5%; /* Add some space between the two canvases */
    width:80%;
    margin-top: 15px; 
    padding: 20px;
}

.funnel-value-label {
    padding-left: 5px; /* Space between the segment and the label */
    /* Add other styles as needed (font size, color, etc.) */
}


.funnel-segment-container {
    display: flex;
    justify-content: center; /* Center segments for a funnel effect */
    align-items: center;
}

.funnel-label {
    min-width: 100px; /* Adjust as needed to give labels a consistent width */
    text-align: right; /* Aligns the text to the right */
    padding-right: 10px; /* Adds some space between the label and the segment */
}

.funnel-segment {
    margin: 10px; /* Increase spacing */
    font-size: 18px; /* Increase font size for better readability */
    background-color: #76b852; /* Example color */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ddd;
    box-sizing: border-box;
    transition: all 0.3s ease; /* Smooth transition for width changes */
    height: 40px;
}

.funnel-segment:hover {
    background-color: #669966; /* Darker shade on hover */
    cursor: pointer; /* Change cursor to indicate interactivity */
}

.funnel-segment::before {
    content: attr(data-label); /* Use a data attribute for the label */
    margin-right: 10px;
}

