/* style.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.content_container {
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center align the container */
    padding: 5px; /* Add some padding around the content */
    background-color: #FFDC9C;
    border-radius: 8px; /* Optional: adds rounded corners to the container */
}

.body_container {
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center align the container */
    padding: 5px; /* Add some padding around the content */
    background-color: #FEF2DC;
    border-radius: 8px; /* Optional: adds rounded corners to the container */
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.content_title {
    margin-bottom: 20px; /* Space between the title and text */
    color: #04AA6D;
    font-family: Arial, sans-serif; /* Font family, change as needed */
}

.content_text {
    color: black;
    font-family: Arial, sans-serif; /* Font family, change as needed */
    line-height: 1.6; /* Adjust line spacing for better readability */
}

.canvas-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pyramid_output {
    background-color: #FEF2DC;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically, if needed */
    gap: 5%; /* Add some space between the two canvases */
}

.pyramid_output canvas {
    max-width: 40%; /* Control the maximum width of each canvas */
    height: auto; /* Maintain the aspect ratio */
}

#speciesDetailsContainer {
    margin-top: 15px;
}

#speciesDetailsContainer input {
    width: 20%; /* Adjust the width as needed */    
    margin: center; /* Center align the container */
    padding: 5px; /* Add some padding around the content */
    background-color: white;
    border-radius: 8px; /* Optional: adds rounded corners to the container */
}

.input-small {
    width: 130px; /* Adjust width as needed */
    height: 17px; /* Adjust height as needed */
    padding: 3px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}

.button1:hover {
    background-color: #04AA6D;
    color: white;
}